# Ignorar arquivos compilados
*.class
*.o
*.exe

# Ignorar dependências do Node.js
node_modules/

# Ignorar dependências do Java (Maven e Gradle)
target/
build/

# Ignorar arquivos do Python
__pycache__/
*.pyc
*.pyo

# Ignorar IDEs e editores
.vscode/
.idea/
*.iml

# Ignorar arquivos de sistema
.DS_Store
Thumbs.db

# Ignorar credenciais e configurações locais
.env
config/secrets.yml
